{% extends "base.html" %}
{% block external %}
    <script src="/static/search.js" type="text/javascript"></script>
{% endblock external %}
{% block title %}Search Bookmarks{% endblock %}
{% block head %}Search Bookmarks{% endblock %}
{% block content %}
   <form id="search-form" method="get" action=".">
     {{ form.as_p }}

     <!--input type="submit" value="searchS" /-->
   </form>
   <div id="search-results">
     {% if show_results %}
       {% include 'bookmark_list.html' %}
     {% endif %}
   </div>
{% endblock %}